<link rel='stylesheet' href='style.css'>

<br>
<br>
<br>
<br>

<form method='post' action='add_book' class='center'>

    <table class='table'>
        <tr>
            <td class='tableAlign'><label>First Name:</label></td>
            <td><input type='text' autofocus name='fname' tabindex='1'></td>
        </tr>
        <tr>
            <td class='tableAlign'><label>Last Name:</label></td>
            <td><input type='text' autofocus name='lname' tabindex='2'></td>
        </tr>
        <tr>
            <td class='tableAlign'><label>Street:</label></td>
            <td><input type='text' autofocus name='street' tabindex='3'></td>
        </tr>
        <tr>
            <td class='tableAlign'><label>City:</label></td>
            <td><input type='text' autofocus name='city' tabindex='4'></td>
        </tr>
        <tr>
            <td class='tableAlign'><label>State:</label></td>
            <td><input type='text' autofocus name='state' tabindex='5'></td>
        </tr>
        <tr>
            <td class='tableAlign'><label>Zipcode:</label></td>
            <td><input type='text' autofocus name='zipcode' tabindex='6'></td>
        </tr>
    </table>

    <input type='submit' class='btnSubmit' tabindex='7'>

</form>